.timer{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.timer__title{
  font-weight: 700;
  font-size: 90px;
  margin-bottom: 60px;
  color: #085a29;
}
.timer__nowTime{
  /* background-color: aqua; */
  color: #085a29;
  font-weight: 700;
}
.timer__allTime{
  /* background-color: blueviolet; */
}

/* times */
.time_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  margin: 5px;
  padding: 5px;
}
.startTime{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.endTime{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.subtractTime{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}